<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.TagMapper">

    <select id="listTagBackDTO" resultType="com.blog.model.dto.TagBackDTO">
        SELECT
        t.id,
        tag_name,
        COUNT( tat.article_id ) AS article_count,
        t.create_time
        FROM
        tag t
        LEFT JOIN article_tag tat ON t.id = tat.tag_id
        <where>
            <if test="condition.keywords != null">
                tag_name like concat('%',#{condition.keywords},'%')
            </if>
        </where>
        GROUP BY
        t.id
        ORDER BY
        t.id DESC
        LIMIT #{current},#{size}
    </select>

    <select id="listTagNameByArticleId" resultType="java.lang.String">
        SELECT
            tag_name
        FROM
            tag t
                JOIN article_tag tat ON t.id = tat.tag_id
        WHERE
            article_id = #{articleId}
    </select>
    
</mapper>
